@use 'fonts' as *;
@use 'layout' as *;

body{
    font-family: $mainFont;
}

video{
    width: 100%;
}

#video-banner{
    position: relative;
    header{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
}

#global-header{
    form{
        label{
            border: 1px solid rgb(50, 50, 50);
            padding: 1rem;
            input{
                border: 0;
            }
        }
    }

    #logo{
        display: inline-block;
        border-radius: 100%;
        overflow: hidden;
        height: 100px;
    }
}

.btn{
    display: inline-block;
    padding: 1rem;
    background-color: rgb(50, 50, 50); 
    text-decoration: none;
    color: #fff;    
}

