html {
    font-size: 18px; /* Setter grunnstørrelsen på teksten til 18px for hele dokumentet */
}

* {
    box-sizing: border-box; /* Inkluderer padding og border i elementets totale bredde og høyde */
}

body {
    font-family: Arial, Helvetica, sans-serif; /* Setter fontfamilien til Arial, med fallback til Helvetica og sans-serif */
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(3, auto);
    row-gap: 2rem;

}

#global-header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1 / 2;  
    /*grid-column: 1 / 4;*/
}

#banner{
    display: flex;
    flex-wrap: wrap;

    img{
        max-width: 70%;
    }
}

main{
    grid-column-start: 2;
    grid-column-end: 3;
    
    grid-row-start:2;
    grid-row-end:3;
}

main nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;

    a{
        color: #474747;
    }
}

#category-menu{
    grid-column: 1/2;
    grid-row:2/3;
    
}

#category-menu nav ul {
    list-style: none;
}

footer{
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 3;
    grid-row-end: 4;
}

img {
    width: 100%; /* Bildet tar opp 100% av containerens bredde */
    max-width: 400px; /* Setter en maksimal bredde på 400px for bilder */
}

#main-logo {
    width: 100%; /* Logoen tar opp 100% av containerens bredde */
    max-width: 250px; /* Maksimal bredde på logoen er satt til 250px */
    display: block; /* Gjør logoen til et blokk-element */
    margin: 0px auto; /* Sentrerer logoen horisontalt */
}

.flex-menu {
    display: flex; /* Bruker flexbox for å arrangere elementene i menyen */
    list-style: none; /* Fjerner punktmerking fra listeelementene */
    gap: 1rem; /* Legger til et gap på 1rem mellom meny-elementene */
    padding: 0; /* Fjerner standard padding fra listen */
    margin: 0; /* Fjerner standard margin fra listen */
    flex-wrap: wrap; /* Tillater at elementene brytes til neste rad hvis det ikke er nok plass */
}

.flex-menu a {
    text-decoration: none; /* Fjerner understreking fra lenkene */
    color: #000; /* Setter fargen på lenkene til svart */
}

.flex-space-b {
    display: flex; /* Bruker flexbox for layout */
    justify-content: space-between; /* Fordeler elementene jevnt med plass mellom dem */
    flex-wrap: wrap; /* Tillater at elementene brytes til neste rad hvis det er nødvendig */
    gap: 1rem; /* Legger til et gap på 1rem mellom elementene */
}

.flex-space-b h2 {
    width: 100%; /* Setter overskriften til å ta opp 100% av containerens bredde */
}

.flex-space-b form {
    position: relative; /* Gjør skjemaet relativt plassert for fleksibel posisjonering av indre elementer */
}

.flex-space-b form label {
    visibility: hidden; /* Skjuler etiketten visuelt, men beholder den for tilgjengelighet */
    position: absolute; /* Posisjonerer etiketten absolutt i forhold til skjemaet */
}

#outlet {
    color: #ff0000; /* Setter teksten til elementet med ID 'outlet' til rød farge */
}

.product-card {
    max-width: 350px; /* Maksimal bredde for produktkortet er 350px */
    min-width: 200px; /* Minimum bredde for produktkortet er 200px */
    width: 100%; /* Produktkortet tar opp 100% av sin container */
    box-shadow: 13px 9px 20px 0px #efefef; /* Legger til en boks-skygge for dybdeeffekt */
    border-radius: 4px; /* Avrunder hjørnene på produktkortet med 4px */
    padding: 1rem; /* Legger til 1rem padding på innsiden av produktkortet */
}
