body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
h1, h2 {
    color: #333;
}
.game-info, .gallery, .game-details {
    margin-bottom: 40px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.gallery img {
    width: 30%;
    height: auto;
    margin-bottom: 10px;
}
.gallery h2 {
    text-align: center;
}
.gallery h2, .gallery p{
    width: 100%;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

th, td{
    border: 1px solid #333;
}