*{
	box-sizing: border-box;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1rem;
	/*row-gap: 1rem;*/
	grid-template-areas:	"header"
							"nav"
							"main"
							"aside"
							"footer";
}

/*#grid-container > *{
	padding: 2rem;
}*/


#page-header{
	background-color: #547591;
	padding: 2rem;
	grid-area: header;


}

nav, #main, #aside{
	margin: 0rem 1rem;
}


nav{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 2rem;
	grid-area: nav;
	flex-wrap: wrap;

}

nav h2{
	margin: 0;
}

nav ul {
	display: block;
	list-style: none;
	gap: 1rem;
	margin: 0;
	padding: 0;
	flex-basis: 100%;

}

.top-menu{
	display: none;
}


#main{
	grid-area: main;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	gap: 1rem;

}

article{
	flex-basis: 25%;
	padding: 1rem;
	flex-grow: 1;
	min-width: 250px;
	max-width: 400px;
	border: 1px solid #c1c1c1;
  	border-radius: 20px;



}

img{

	/*Bilder har blitt oprimalisert for SEO*/
	width: 100%;
	height: auto;
}
#item-1{
	order: 2;
}
#item-2{
	order: 0;
	
}
#item-3{
	order: 1;
}

#aside{
	grid-area: aside;
	border: 1px solid #c1c1c1;
  	border-radius: 20px;
	padding: 2rem
}

footer{
	grid-area: footer;
	background-color: #343434;
	color: #fff;
	padding: 2rem;
	min-height: 200px;

}

h1{
	font-size: 1.5rem;
}


@media only screen and (min-width: 600px){

	#grid-container{
		display: grid;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-rows: 300px auto auto 60px 1fr auto;
		/*column-gap: 1rem;*/
		/*row-gap: 1rem;*/
		grid-template-areas:	"header header header"
								"nav nav nav"
								"main main aside"
								"footer footer footer";
	}

	#page-header{
		background-color: #547591;
		padding: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}


	nav{
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 2rem

	}

	/*Dropdown meny*/
	.dropdown-main{
		display: none;
		position: absolute;
		background-color: #fff;
		
	}

	.top-menu .dropdown-point:hover > ul, ul li ul:hover{
		display: flex;
		flex-direction: column;
	}


	.dropdown-main li{
		padding: 2rem;
	}

	.dropdown-main li:hover{
		background-color: #efefef;
	}


}



