@import 'colors.scss';
form{
    background-color: $white;
    padding: 3rem;
    color: $black;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    gap: 1rem;

    input{
        padding: 1rem;
        border: 1px solid $black;
    }
}