@mixin box($width, $height, $pad, $bradius){
    width: 100%;
    max-width: $width;
    height: $height;
    padding: $pad;
    border-radius: $bradius;
}

@mixin flexbox($direction, $wrap, $gap){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}
