@use 'layout.scss';
@use 'loginn.scss';
@use 'colors' as *;
@use 'fonts' as *;

*{
    box-sizing: border-box;
}
body{
    background-color: $blue;
    height: 100vh;
    font-family: $mainFont;
    background-image: url('https://picsum.photos/1200/1200');
    background-size: cover;
}