*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
header{
    background-image: url('https://cdn.pixabay.com/photo/2018/09/23/18/56/pumpkin-3698130_960_720.jpg');
    padding: 7rem 3rem;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    font-size: 30px;
    width: 100%;
    text-transform: uppercase;
}

#main-menu{
    width: 100%;
    margin: 0 auto;
    ul{
        display: flex;
        list-style: none;
        padding: 3rem;
        margin: 0;
        gap: 1rem;
        flex-wrap: wrap;

        li{

            #active{
                font-weight: 600;
            }
            a{
                text-decoration: none;
                color: #000;
                
            }

            a:hover{
                text-decoration: underline;
            }

     

        }
    }
}



main{
    margin: 0 auto;
    padding: 3rem;
    width: 70%;
    min-width: 400px;

    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article{
            min-width: 300px;
            padding: 3rem;
            border-radius: 3px;
            box-shadow: 10px 10px 10px #efefef;
        }

        h2{
            width: 100%;
        }
    }
}

.black-btn{
    display: inline-block;
    padding: 2rem;
    color: #fff;
    background-color: #343434;
    border: 1px solid #343434;
    text-decoration: none;

}
.black-btn:hover{
    background-color: #fff;
    border: 1px solid #343434;
    color: #000;
}

aside{
    width: 30%;
    padding: 3rem;
    min-width: 350px;
}
footer{
    width: 100%;
    background-color: #343434;
    padding: 3rem;
    color: #fff;

    a{
        color: #fff;
    }
}

img{
    width: 100%;
}